@page
@model MiOasisAdminWeb.Pages.HomeModel
@{
    Layout = "Shared/_Layout";
}

<div class="card shadow">
    <h2 style="text-align:center;">¡Bienvenid@@!</h2>
</div>

<script src="~/js/home.js" asp-append-version="true"></script>
