@page
@model MiOasisAdminWeb.Pages.UsersPageModel
@{
    Layout = "Shared/_Layout";
}

<div class="card shadow">
    <h2 style="text-align:center;">Usuarios</h2>

    <form class="div-form" action="/" method="post">
        <div class="div-form-container shadow">
            <div>
                <input type="text" class="input-text" style="margin-bottom: 6px;" id="input-UserId" placeholder="ID" readonly>
                <input type="text" class="input-text" style="margin-bottom: 6px;" id="input-Username" placeholder="User Name" required>
                <input type="text" class="input-text" style="margin-bottom: 6px;" id="input-Email" placeholder="Email" required>
                <div class="input-icon" style="width: 100%;">
                    <input type="password" class="input-text" id="input-Password" placeholder="Contraseña (dejar vacío para no cambiar)" required>
                    <i class="fa fa-eye txt-light clickable" onclick="SHOW_PASSWORD(event, 'input-Password')"></i>
                </div>
            </div>
            <div>
                <select class="input-text" id="input-PlanId">
                    <option value="" disabled selected>Plan</option>
                </select>
                <select class="input-text" id="input-Role" required>
                    <option value="" disabled selected>Rol</option>
                    <option value="admin">admin</option>
                    <option value="server">server</option>
                    <option value="gamer">gamer</option>
                </select>
                <select class="input-text" id="input-Status" required>
                    <option value="" disabled selected>Status</option>
                    <option value="active">active</option>
                    <option value="inactive">inactive</option>
                    <option value="banned">banned</option>
                    <option value="suspended">suspended</option>
                </select>
            </div>
        </div>
        <div class="div-form-buttons">
            <button type="button" class="btn bg-success" onclick="SaveCurrentItem();">Guardar</button>
            <button type="button" class="btn bg-warning" onclick="ClearAllInputs();">Limpiar</button>
        </div>
    </form>

    <div class="input-icon" style="max-width: 400px; margin:auto">
        <input type="text" class="input-text input-info" id="input-search" placeholder="Buscar Usuario...">
        <i class="fa fa-search clickable txt-info" aria-hidden="true" id="input-search-icon"></i>
    </div>

    <div class="pagination-div">
        <p>Elementos por Página:</p>
        <select id="select-items-per-page">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="80">80</option>
        </select>
    </div>

    <div class="pagination-div">
        <div>
            <button onclick="GetPage(1);">
                <i class="fa fa-angle-double-left"></i>
            </button>
            <button onclick="GetPreviousPage();">
                <i class="fa fa-angle-left"></i>
            </button>
            <input type="text" class="input-text" id="input-current-page">
            <button onclick="GetNextPage();">
                <i class="fa fa-angle-right"></i>
            </button>
            <button onclick="GetLastPage();">
                <i class="fa fa-angle-double-right"></i>
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="default-table">
            <thead>
                <tr>
                    <th></th>
                    <th class="clickable sticky"><i class="fa fa-sort" aria-hidden="true"></i> ID</th>
                    <th class="clickable"><i class="fa fa-sort" aria-hidden="true"></i> UserName</th>
                    <th class="clickable"><i class="fa fa-sort" aria-hidden="true"></i> Email</th>
                    <th class="clickable"><i class="fa fa-sort" aria-hidden="true"></i> Plan</th>
                    <th class="clickable"><i class="fa fa-sort" aria-hidden="true"></i> Rol</th>
                    <th class="clickable"><i class="fa fa-sort" aria-hidden="true"></i> Status</th>
                </tr>
            </thead>
            <tbody id="tbody-data-list">
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/users.js" asp-append-version="true"></script>
